<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="styles.less"/>
		<link rel="stylesheet" type="text/css" href="boton.css"/>
		<meta charset="utf-8">
		<title>Life of Brandon Beets</title>
	</head>
	
	<body style="background-color:black">
		<div align="center" class="wrapper">
		<h1 class="titulo" >Life of Brandon Beets</h1>
		<button class="boton"> Empezar </button>
			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>