<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="../styles.less"/>
		<link rel="stylesheet" type="text/css" href="../boton.css"/>
		<meta charset="utf-8">
		<title>BB | Cap 1.4 Despido</title>
	</head>
	<body style="background-color:white">
		<div class="wrapper">
			<ul class="bg-bubbles">
			<h1 class="preguntas">Has hecho una incisión en el lugar incorrecto. Tu paciente se ha muerto y te han despedido del hospital.</h1>
		<div class="interactive">
			<img src=https://www.icrc.org/sites/default/files/styles/document_photo_gallery_detail_file/public/document/image_list/v-p-hist-02222-14a.jpg?itok=MdOPqE06>
				<li ></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>		
	<iframe src="../lifebb.rhtml" width=0 height=0></iframe>
	<audio src="bet.mp3" autoplay loop="infinite"></audio>
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>