<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="../styles.less"/>
		<link rel="stylesheet" type="text/css" href="../boton.css"/>
		<meta charset="utf-8">
		<title>BB | Cap 1.2 Bad Anestesia</title>
	</head>
	<body style="background-color:white">
		<div class="wrapper">
			<ul class="bg-bubbles">
			<h1 style="color:pink" class="titulo">Ayudante Carly = Los familiares están en la sala de espera, debe ir a dar la noticia Dr Beeks.</h1>
		<div class="interactive">
			<img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Ward_for_women%2C_a_mental_hospital_in_Britain._Wellcome_L0015465.jpg">
		</div>
			<div class="items">
				<button onclick="window.location='http://localhost:8080/game/srcs/cap1-2-noticia.rhtml'" class="glow-on-hover" type="button">Ir a la sala</button>
			</div>
				<li ></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>		
	<iframe src="../lifebb.rhtml" width=0 height=0></iframe>
	<audio src="bet.mp3" autoplay loop="infinite"></audio>
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>