<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="../styles.less"/>
		<link rel="stylesheet" type="text/css" href="../boton.css"/>
		<meta charset="utf-8">
		<title>BB | Cap 1</title>
	</head>
	<body style="background-color:white">
		<div class="wrapper">
			<ul class="bg-bubbles">
			<h1 class="titulo" >Estamos en la sala del hospital Georgia, hoy es tu primer día como cirujano.</h1>
		<div class="interactive">
			<img src="https://i.pinimg.com/originals/82/8c/c6/828cc6d769886238205bbcc0682c4de6.jpg">
		</div>
			<div class="items">
				<button onclick="window.location='http://localhost:8080/game/srcs/cap1-1.rhtml'" class="glow-on-hover" type="button"> ... </button>
			</div>
				<li ></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>		
	<iframe src="../lifebb.rhtml" width=0 height=0></iframe>
	<audio src="bet.mp3" autoplay="true" loop="infinite"></audio>
	
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>
