<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="../styles.less"/>
		<link rel="stylesheet" type="text/css" href="../boton.css"/>
		<meta charset="utf-8">
		<title>BB | Cap 1.4.2 </title>
	</head>
	<body style="background-color:white">
		<div class="wrapper">
			<ul class="bg-bubbles">
			<h1 class="preguntas">Eres una persona muy inteligente, cuentas con una ayuda adicional en caso de emergencia.</h1>
		<div class="interactive">
			<img style="width:150px" class="life" src="idea.png">
		</div>
			<h1 style="margin-top:5px" class="preguntas">Sólo puedes usarla una vez durante toda la operación, sé sabio.</h1>
			<div class="interactive">
				<img style="width:150px" class="life" src="no_idea.png">
			</div>
			<div class="items">
				<button style="margin-top:45px" onclick="window.location='http://localhost:8080/game/srcs/cap1-4-F-3.rhtml'" class="glow-on-hover" type="button"> Vale </button>
			</div>
				<li ></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	<iframe src="../lifebb.rhtml" width=0 height=0></iframe>
	<audio src="bet.mp3" autoplay loop="infinite"></audio>
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>
