<!DOCTYPE html>
	<html> 
	<head>
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="stylesheet/less" type="text/css" href="../styles.less"/>
		<link rel="stylesheet" type="text/css" href="../boton.css"/>
		<meta charset="utf-8">
		<title>BB | Cap 1.3 Noticia</title>
	</head>
	<body style="background-color:white">
		<div class="wrapper">
			<ul class="bg-bubbles">
			<h1 class="preguntas">Los familiares deprimidos no te han dirigido la palabra, pero tus superiores te han dicho que hiciste buen trabajo.</h1>
		<div class="interactive">
			<img src="http://www.yorkpress.co.uk/resources/images/2467373.jpg">
		</div>
			<div class="items">
			</div>
				<li ></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>		
	<iframe src="../lifebb.rhtml" width=0 height=0></iframe>
	<audio src="bet.mp3" autoplay loop="infinite"></audio>
	<script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script>
	<script href="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
	</html>